# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================================
# Virtual Environment
# ==========================================

.venv/
venv/
env/

# ==========================================
# Environment Variables
# ==========================================

.env

# ==========================================
# Pytest
# ==========================================

.pytest_cache/
.coverage
htmlcov/

# ==========================================
# Logs
# ==========================================

logs/
*.log

# ==========================================
# Jupyter
# ==========================================

.ipynb_checkpoints/

# ==========================================
# VS Code
# ==========================================

.vscode/

# ==========================================
# OS Files
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# Spark Temporary Files
# ==========================================

spark-warehouse/
metastore_db/
derby.log

# ==========================================
# Data Output
# ==========================================

data/processed/